.timetable {
	height: 100%;
	width: 100%;
	border-spacing: 0;
	font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	white-space: nowrap;
}

.day {
	cursor: pointer;
	background: linear-gradient(#def, #ace);
	border-radius: 10px 10px 0 0;
}

tr {
	max-height: 30px;
}
tr:nth-child(even) {
	background: #bdf;
}

td {
	padding: 0 5px 0 5px;
}
td:nth-child(2) {
	width: 100%;
}

/* Timeline */

.timeline {
	font-family: monospace;
	font-size: 12px;
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	color: transparent;
}
.timeline:hover {
	color: #000;
}

.timeblock {
	display: table-cell;
}

.timeblock:nth-child(odd) {
	border-left: 1px solid #79b;
}
.timeblock:nth-child(even) {
	border-left: 1px solid #9bd;
}
.timeblock:last-child {
	border-right: 1px solid #79b;
}

.timeblock.active {
	background: #579;
	border-color: transparent;
}
.timeline:hover > .timeblock.active {
	color: #ace;
}

/* Orientation */

#map {
	background: #abc;
	position: absolute;
	top: 0;
	left: 0;
}

#list {
	background: #ace;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: auto;
}

@media all and (orientation: landscape) {
	#map {
		bottom: 0;
		right: 65%;
	}
	#list {
		top: 0;
		left: 35%;
	}
}

@media all and (orientation: portrait) {
	#map {
		bottom: 65%;
		right: 0;
	}
	#list {
		top: 35%;
		left: 0;
	}
}
