body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: palegoldenrod; /* TEMP */
    font-family: "Avenir", sans-serif;
    margin: 0;
}

/* MAIN MENU CONTAINER */

#legend {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #024; /* TEMP */
    color: #eee; /* TEMP */
}
@media all and (orientation: landscape) {
    #legend {
        left: 50%;
        top: 0;
    }
    #days {
        right: 50%;
        top: 0;
    }
}
@media all and (orientation: portrait) {
    #legend {
        left: 0;
        top: 50%;
    }
    #days {
        right: 0;
        bottom: 50%;
    }
    input, .day {
        float: left;
    }
}

/* DAY BUTTONS */

#days {
    position: absolute;
    text-align: center;
}
.day {
    background: #147;
    width: 36px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    color: #7ad;
    border-radius: 6px;
    margin: 2px;
    cursor: pointer;
}
.day:after {
    content: attr(data-day);
}
.day:hover, .day.selected {
    background: #258;
    color: #eee;
}

/* SCROLLER */

#scroller {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; /* for ios */
}

.building {
    position: -webkit-sticky; /* for safari */
    position: sticky;
    left: 0;
    background: #147;
    font-size: 18px;
    text-align: center;
    display: none;
}

.timetable {
    min-width: 1500px; /* maybe reduce this */
}

.timeline {
    height: 12px;
    background: #147;
    font-size: 12px;
    line-height: 12px;
    display: flex;
}
.timeline:before {
    content: attr(data-building);
    background: linear-gradient(to right, #147, transparent); /* for safari */
    background: linear-gradient(to right, #147, #1470);
    position: -webkit-sticky; /* for safari */
    position: sticky;
    left: 0;
    width: 55px;
    height: 100%;
}

.timeblock {
    flex: 1;
}

.schedule {
    position: relative;
    height: 14px;
    margin: 1px 0 0 55px; /* TODO: find proper room width */
}

.schedule:after {
    content: attr(data-room);
    background: #147;
    text-align: center;
    position: -webkit-sticky; /* for safari */
    position: sticky;
    left: 0;
    width: 55px;
    height: 14px;
    font-size: 14px;
    line-height: 100%;
    padding: 5px 0 5px 0;
    margin: 0 0 -24px -55px;
    display: block;
}

.timebubble {
    position: absolute;
    top: 0;
    height: 100%;
    background: black;
}
