body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: palegoldenrod; /* TEMP */
    font-family: "Avenir", sans-serif;
    margin: 0;
}

#days {
    position: absolute;
    text-align: center;
}

.day {
    width: 36px;
    background: #147;
    color: #7ad;
    font-size: 12px;
    border-radius: 6px;
    margin: 2px;
    opacity: 0.75;
    cursor: pointer;
}
.day:after {
    content: attr(data-day);
}
.day:hover, .day.selected {
    opacity: 1;
}

#legend {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #024; /* TEMP */
    color: #eee; /* TEMP */
}

@media all and (orientation: landscape) {
    #days {
        right: 50%;
        top: 0;
    }
    #legend {
        left: 50%;
        top: 0;
    }
}
@media all and (orientation: portrait) {
    #days {
        right: 0;
        bottom: 50%;
    }
    .day {
        float: left;
    }
    #legend {
        left: 0;
        top: 50%;
    }
}

#scroller {
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; /* ios */
}

.timetable {
    min-width: 1500px;
}

.topper {
    position: -webkit-sticky; /* safari */
    position: sticky;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, transparent 40%, #147 50%, transparent 60%);
    text-align: center;
    margin-bottom: -22px;
    z-index: 1;
}
.topper::after {
    content: attr(data-label);
}

.schedule, .timeline {
    position: relative; /* .timebubble position */
    font-variant: small-caps;
    margin: 0 0 1px 55px; /* dynamic timeline background offset */
    display: flex;
}
.timeline:before {
    content: attr(data-label);
    position: -webkit-sticky; /* safari */
    position: sticky;
    left: 0;
    width: 55px;
    background: #147;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-left: -55px;
    z-index: 1;
}
.timeline:first-child:before {
    font-size: 18px;
    font-weight: bold;
}

.timeblock {
    flex: 1;
    font-size: 12px;
    vertical-align: bottom;
    overflow: hidden;
}
.timeline:first-child .timeblock:nth-child(1):after {content: "12am";}
.timeline:first-child .timeblock:nth-child(2):after {content: "1am";}
.timeline:first-child .timeblock:nth-child(3):after {content: "2am";}
.timeline:first-child .timeblock:nth-child(4):after {content: "3am";}
.timeline:first-child .timeblock:nth-child(5):after {content: "4am";}
.timeline:first-child .timeblock:nth-child(6):after {content: "5am";}
.timeline:first-child .timeblock:nth-child(7):after {content: "6am";}
.timeline:first-child .timeblock:nth-child(8):after {content: "7am";}
.timeline:first-child .timeblock:nth-child(9):after {content: "8am";}
.timeline:first-child .timeblock:nth-child(10):after {content: "9am";}
.timeline:first-child .timeblock:nth-child(11):after {content: "10am";}
.timeline:first-child .timeblock:nth-child(12):after {content: "11am";}
.timeline:first-child .timeblock:nth-child(13):after {content: "12pm";}
.timeline:first-child .timeblock:nth-child(14):after {content: "1pm";}
.timeline:first-child .timeblock:nth-child(15):after {content: "2pm";}
.timeline:first-child .timeblock:nth-child(16):after {content: "3pm";}
.timeline:first-child .timeblock:nth-child(17):after {content: "4pm";}
.timeline:first-child .timeblock:nth-child(18):after {content: "5pm";}
.timeline:first-child .timeblock:nth-child(19):after {content: "6pm";}
.timeline:first-child .timeblock:nth-child(20):after {content: "7pm";}
.timeline:first-child .timeblock:nth-child(21):after {content: "8pm";}
.timeline:first-child .timeblock:nth-child(22):after {content: "9pm";}
.timeline:first-child .timeblock:nth-child(23):after {content: "10pm";}
.timeline:first-child .timeblock:nth-child(24):after {content: "11pm";}
.timeline:first-child .timeblock {
    background: #147;
}
.timeline:nth-child(n+2) .timeblock {
    height: 4px;
    border: solid #147;
    border-width: 2px 1px 0 1px;
}

.timebubble {
    position: absolute;
    top: 0;
    height: 90%;
    background: #147;
    border-radius: 0 0 6px 6px;
}
