<!DOCTYPE html>
<html lang="en-US">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-4CXB28LTH1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-4CXB28LTH1');
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=0.75, user-scalable=no">
	<title>AntScoper</title>
	<meta name="description" content="A tool for viewing the class schedules of every classroom and lecture hall of any particular building at UCI.">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
	<script type="application/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<script type="application/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='legend.js') }}"></script>
	<script type="application/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
	<div id="map"></div>
	<a target="_blank" href="https://github.com/Krazete/antscoper#readme">
		<div id="about"></div>
	</a>
    <div id="days">
		<input type="text" id="query">
        <div class="day" id="sun"></div>
        <div class="day" id="mon"></div>
        <div class="day" id="tue"></div>
        <div class="day" id="wed"></div>
        <div class="day" id="thu"></div>
        <div class="day" id="fri"></div>
        <div class="day" id="sat"></div>
    </div>
    <div class="noclass" id="legend">
		<div id="scanline"></div>
        <div id="scroller"></div>
    </div>
    <style id="dynamic-style"></style>
</body>
</html>
